<section class="about-us container">
  <h1 class="text-center">Tentang <span class="text-esam">ESAM</span></h1>
  <!-- Icon Divider-->
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div> 
  <div>
    <style></style>
    <p>&nbsp;</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
      officia odio cumque vitae animi consequuntur? Veritatis, ea ad rerum
      eligendi, explicabo unde dignissimos fugit nihil accusamus autem eius
      debitis? Ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Enim provident maxime officia ipsam ab, adipisci dicta veniam fugiat
      reprehenderit blanditiis excepturi ad, nisi soluta quibusdam alias nulla.
      Quisquam, beatae dolores? “<strong>ESAM</strong>”
    </p>
    <p>
      “<strong>ESAM</strong>” Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Consequuntur rerum animi dolorum doloremque repellendus quia enim
      voluptatum sequi consequatur exercitationem. Accusamus dolorum deleniti
      eum quia enim recusandae modi vitae labore? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Rem error illum tempore distinctio ea
      doloribus eius qui consequatur at. Voluptate quo voluptates recusandae
      praesentium! Enim aut repellendus fugit repellat unde?
    </p>
  </div>
</section>
